
/*
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
*/


/*a标签连接无下划线*/
a {
    text-decoration: none;
}

a:hover {
    color: #6495ed;
    text-decoration: none;
    cursor: pointer
}


/*主列表样式*/
#main-menu li i {
    color: gold;
}

#main-menu ul li li {
    color: #93cb52;
}

ul li ul {
    display: none
}

li {
    list-style-type: none;
    line-height: 1.7;
    text-indent: -12px
}

html {
    font-family: "微软雅黑", sans-serif;
}

#mp {
    width: 100%;
    height: 80%;
}